In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('data_ekspor.csv')
data.head()

,sub-type for AMI,Age,Gender,WBC,RBC,HGB,BA,EO,LY,MO,...,MPV,PLT,HCT,MCV,RDW-SD,RDW-CV,MCH,MCHC,PDW,PCT
0,2,28.0,1,10.90,5.09,15.3,0.06,0.19,2.77,0.96,...,10.00,309.0,46.3,91.9,58.0,11.5,30.1,33.0,11.2,0.31
1,2,40.0,0,5.96,5.16,15.6,0.03,0.37,2.36,0.43,...,13.30,214.0,45.9,89.0,40.4,12.4,30.2,34.0,22.0,0.28
2,2,64.0,1,4.59,5.51,14.9,0.05,0.05,1.12,0.27,...,11.00,193.0,43.8,79.5,38.2,13.4,27.0,34.0,13.6,0.21
3,2,57.0,0,7.26,4.70,12.5,0.05,0.11,3.46,0.70,...,10.00,321.0,40.2,85.5,46.0,14.8,24.6,32.1,11.9,0.32
4,2,58.0,0,7.15,4.37,12.1,0.03,0.34,1.90,0.47,...,9.69,209.0,38.0,87.0,48.0,15.1,37.7,31.8,11.4,0.20

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sub-type for AMI  981 non-null    int64
 1   Age               981 non-null    float64
 2   Gender            981 non-null    int64
 3   WBC               981 non-null    float64
 4   RBC               981 non-null    float64
 5   HGB               981 non-null    float64
 6   BA                981 non-null    float64
 7   EO                981 non-null    float64
 8   LY                981 non-null    float64
 9   MO                981 non-null    float64
 10  NEU               981 non-null    float64
 11  NEU/LY            981 non-null    float64
 12  PLT/LY            981 non-null    float64
 13  MPV/LY            981 non-null    float64
 14  LY/MO             981 non-null    float64
 15  MPV               981 non-null    float64
 16  PLT               981 non-null    float64
 17  HCT               981 non-null    float64
 18  MCV               981 non-null    float64
 19  RDW-SD            981 non-null    float64
 20  RDW-CV            981 non-null    float64
 21  MCH               981 non-null    float64
 22  MCHC              981 non-null    float64
 23  PDW               981 non-null    float64
 24  PCT               981 non-null    float64
dtypes: float64(23), int64(2)
memory usage: 191.7 KB

In [ ]:
#deteksi outlier

def deteksi_outlier(data, column):
    q1 = data[column].quantile(0.25)
    q3 = data[column].